.block {
    padding: 15;
}

.blockTitle {
    font-size: 22;
    color: #000000;
}

.blockDate {
    font-size: 16;
}

.row-card {
    margin-top: 10;
    padding: 5 10;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2;
    border-radius: 5;
}

.row-card-title {
    font-size: 16;
    color: #000000;
}

.row-card-author {
    text-transform: uppercase;
    font-size: 12;
    color: #bfbfbf;
}

.row-card-description {
    font-size: 12;
    color: #808080;
}

.row-card-location {
    margin-top: 5;
    font-size: 12;
    color: #000000;
}

[isWorkshop="false"] {
    display: none;
}