.block {
    padding: 15;
}

.blockTitle {
    font-size: 22;
    color: #000000;
}

.blockDate {
    font-size: 16;
    margin-bottom: 5;
}

.row-card {
    margin-top: 10;
    padding: 5 10;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2;
    border-radius: 5;
}

.row-card-title {
    font-size: 16;
    font-weight: 500;
    color: #000000;
}

.row-card-hosts {
    text-transform: uppercase;
    font-size: 12;
    color: #bfbfbf;
}

.row-card-description {
    margin-top: 3;
    font-size: 12;
    color: #666666;
}

.row-card-location {
    margin-top: 8;
    font-size: 12;
    color: #000000;
}