.event-detail {
    padding: 10;
    z-index: 0;
}

.event-name {
    font-size: 26;
    color: #000000;
}

.event-date {
    font-size: 16;
}

.event-location {
    font-size: 16;
}

.event-sub-title {
    margin-top: 15;
    margin-bottom: 5;
    font-size: 14;
    text-transform: uppercase;
}

.event-sub-item {
    font-size: 12;
    color: #000000;
}

.loading {
    width: 40;
    height: 40;
    z-index: 1;
}