.event-detail {
    padding: 10;
    z-index: 0;
}

.event-name {
    font-size: 26;
    color: #000000;
}

.event-date {
    font-size: 16;
}

.event-location {
    font-size: 16;
}

.event-sub-title {
    margin-top: 15;
    margin-bottom: 5;
    font-size: 14;
    text-transform: uppercase;
}

.event-sub-item {
    font-size: 12;
    color: #000000;
}

.event-button {
    margin: 15 0;
    padding: 10 0;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2 0;
    text-align: center;
}

.event-button-text {
    font-size: 16;
    color: #4d4dff;
}

.loading {
    width: 40;
    height: 40;
    z-index: 1;
}