.background {
    background-color: #e6f7ff;
}

.loginBackground {
    opacity: 0.2;
}

.fields {
    vertical-align: middle;
}

.passwordField {
    margin: 0 40;
    text-align: center;
}

.loginButton {
    margin: 0 60;
}