.day-schedule {
    padding: 10 10 15 10;
}

.day-schedule-day_date {
    margin-left: 10;
}

.day-schedule-day {
    font-size: 18;
    font-weight: 600;
}

.day-schedule-date {
    margin-left: 5;
    font-size: 18;
    font-weight: 500;
    color: #a6a6a6;
}

.row-card {
    margin-top: 10;
    padding: 5 10;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2;
    border-radius: 5;
}

.row-card-selected {
    border-color: #666666;
}

.row-card-time {
    vertical-align: center;
    font-size: 12;
}

.row-card-event {
    text-align: left;
    color: #000000;
}

.row-card-title {
    font-size: 16;
    font-weight: 500;
}

.row-card-location, .row-card-info {
    font-size: 12;
}

.row-card-image {
    width: 20;
    height: 20;
    visibility: hidden;
}

/* [typeEvent="event"] {
    background-color: #ffb3bf;
}

[typeEvent="caucus"] {
    background-color: #80ff80;
}

[typeEvent="workshop"] {
    background-color: #ffe866;
} */

[typeEvent="event"] Image {
    visibility: visible;
}

[typeEvent="caucus"] Image {
    visibility: visible;
}

[typeEvent="workshop"] Image {
    visibility: visible;
}