.day-schedule {
    padding: 10;
}

.day-schedule-date {
    font-size: 18;
}

.row-card {
    margin-top: 10;
    padding: 5 10;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2;
    border-radius: 5;
}

.row-card-time {
    vertical-align: center;
    font-size: 12;
}

.row-card-event {
    text-align: left;
    color: #000000;
}

.row-card-title {
    font-size: 16;
    font-weight: 500;
}

.row-card-location {
    font-size: 12;
}