.day-schedule {
    padding: 10;
}

.day-schedule-text {
    font-size: 18;
}

.row-card {
    margin-top: 10;
    padding: 5 10;
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 2;
    border-radius: 5;
}

.row-card-time {
    vertical-align: center;
    font-size: 12;
}

.row-card-event {
    margin-left: 40;
    text-align: left;
}

.row-card-title {
    font-size: 16;
}

.row-card-description {
    font-size: 14;
}